{% extends 'accueil.html.twig' %}

{% block title %}Extraire{% endblock %}

{% block body %}
    {% for message in app.session.flashBag.get('success') %}
        <div id="flash-message" class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashBag.get('danger') %}
        <div id="flash-message" class="alert alert-danger">{{ message }}</div>
    {% endfor %}
{#
    <a title="pdf" href="{{ path('facture_pdf') }}" class="btn btn-primary ml-5">Exporter en pdf</a>
#}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Détails de la facture</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover text-center">
                        <tr>
                            <th>Quantité achetée</th>
                            <th>Produit</th>
                            <th>PrixUnit</th>
                            <th>Montant</th>
                        </tr>
                        {% for item in f %}
                            <tr>
                                <td>{{ item.quantite }}</td>
                                <td>{{ item.nomProduit }}</td>
                                <td>{{ item.prixUnit|number_format(0, ',', ' ') }}</td>
                                <td>{{ item.montant|number_format(0, ',', ' ') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-md-13">
    <div class="card ">
        <div class="card-header">Facture</div>
        <div class="card-body">
            <div class="table-responsive" >
                <table id="facture_liste" class="table table-striped table-hover text-center">
                    <tr>
                        <th>Quantite acheté</th>
                        <th>Produit</th>
                        <th>PrixUnit</th>
                        <th>Montant</th>
                    </tr>
                    {% set total = 0 %}
                    {% for f in f %}
                        <tr>
                            <td>{{ f.quantite }}</td>
                            <td>
                                {% if f.nomProduit > 0 %}
                                    {{ f.nomProduit }}
                                {% endif %}
                            </td>
                            <td>

                                {% if f.prixUnit > 0 %}
                                    {{ f.prixUnit|number_format(0, ',', ' ') }}
                                {% endif %}
                            </td>
                            <td>{{ f.montant | number_format(0, ',', ' ') }}</td>
                            {#<td>
                                <a title="Modifier" href="{{ path('modifier',{'id':f.id}) }}"><i class="fa fa-edit"></i></a>
                                <a title="supprimer" href="{{ path('facture_delete', {'id':f.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');"><i style="color: red" class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>#}
                        </tr>
                        {% set total = total + f.montant %}
                    {% endfor %}
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td>{{ total|number_format(0, ',', ' ') }} f </td>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        setTimeout(function() {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage !== null) {
                flashMessage.remove();
            }
        }, 10000);
    </script>

    <script>
        $(document).ready(function() {
            $('#myModal').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget);
                var fData = button.data('f');
                var modal = $(this);
                modal.find('.modal-body table').empty();
                fData.forEach(function(item) {
                    var row = '<tr>' +
                        '<td>' + item.quantite + '</td>' +
                        '<td>' + item.nomProduit + '</td>' +
                        '<td>' + item.prixUnit + '</td>' +
                        '<td>' + item.montant + '</td>' +
                        '</tr>';
                    modal.find('.modal-body table').append(row);
                });
            });
        });
    </script>



{% endblock %}
