{% extends 'accueil.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <a href="{{ path('dette_add') }}" class="btn btn-primary m-2">liste dettes</a>
    <div class="row">
        <div class="container col-md-8">
            <div class="card ">
                <div class="card-header">Liste des clients</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Client</th>
                                <th>Montant avance</th>
                                <th>Reste</th>
                                <th>Date</th>
                                <th>action</th>
                            </tr>
                            {% for p in paiement %}
                                <tr>
                                    <th>{{ p.client.nom }}</th>
                                    <th>{{ p.montant }}</th>
                                    <th>{{ p.reste }}</th>
                                    <th>{{ p.datePaiement | date('d/m/Y') }}</th>

                                    <th>
                                    </th>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if total > limit %}
                                {% set pages = (total / limit)|round(0, 'ceil') %}
                                {% for i in 1..pages %}
                                    {% if i == page %}
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="{{ path('client_liste', {'page': i}) }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container col-md-4">
            <div class="card">
                <div class="card-header">Formulaire de gestion des clients</div>
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
