{% extends 'accueil.html.twig' %}

{% block body %}
    <div class="container col-md-6">
        <div class="card">
            <div class="card-header">Formulaire de gestion des dettes</div>
            <div class="card-body">
                <h1>Nouveau paiement</h1>

                {{ form_start(form) }}
                {{ form_row(form.montant) }}
                {{ form_row(form.date) }}
                {{ form_row(form.methode) }}
                {{ form_row(form.client) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </div>
{% endblock %}