
<div class="row">

    <div class="container col-md-5">
            {% for p in pagination %}
                <option value="{{ p.id }}">{{ p.libelle }}</option>
            {% endfor %}

        <input type="hidden" name="clientId" id="selectedClientId" value="">
        <input type="hidden" name="productId" id="selectedProductId" value="">
        <input type="hidden" name="quantity" id="selectedQuantity" value="">

        {#
        <form name="search" method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" id="search_nom" name="search[nom]" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="search-button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        #}


        <div class="card ">
            <div class="card-header">Mes produits</div>
            <div class="card-body">
                <div class="table-responsive" >
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Libelle</th>
                            <th>Quantité</th>
                            <th>Action</th>
                        </tr>
                        {% set total = 0 %}
                        {% for p in pagination %}
                            <tr>
                                <th>{{ p.libelle }}</th>
                                <td>
                                    <input type="number" class="form-control custom-input" name="quantity" id="quantity_{{ p.id }}" value="1" min="1">
                                </td>

                                <td>
                                    <a title="Ajouter" href="javascript:void(0);" onclick="addToFacture('{{ path('rajout_facture', {'id': p.id}) }}', {{ p.id }})">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </a>

                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {# Display pagination controls #}
                <div class="d-flex align-content-center justify-content-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>

        </div>
    </div>
