
    {% extends 'accueil.html.twig' %}

    {% block title %}Chargement{% endblock %}

    {% block body %}
        {% for message in app.session.flashBag.get('success') %}
            <div id="flash-message" class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.session.flashBag.get('danger') %}
            <div id="flash-message" class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <div class="container col-md-12">
            <a href="{{ path('add_user') }}" class="btn btn-primary">Nouveau utilisateur</a>
            <div class="card ">
                <div class="card-header">Liste des clients</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Prenom</th>
                                <th>Nom</th>
                                <th>Adresse</th>
                                <th>Téléphone</th>

                            </tr>
                            {% for user in user %}
                                <tr>
                                    <th>{{ user.prenom }}</th>
                                    <th>{{ user.nom }}</th>
                                    <th>{{ user.adresse }}</th>
                                    <th>{{ user.telephone }}</th>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
        <script>
            setTimeout(function() {
                var flashMessage = document.getElementById('flash-message');
                if (flashMessage !== null) {
                    flashMessage.remove();
                }
            }, 10000);
        </script>
    {% endblock %}

